

  
  
  .signup-container {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      height: 100vh;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: #f8f9fd67;
      background-image: url("./image/bg5.webp");
     
      
  
  
    }
    
    
  
    .signup-form {
     background-color: rgba(248, 242,242,0.363);
     padding: 2rem;
     width: 400px;
     height: 550px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
     border-radius: 5%;
    }
    
    .title-signup {
      font-size: 25px;
      margin-bottom: 20px;
    }
  
  
    .form-group {
      display: flex;
      flex-direction: column;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    .signup-btn {
      display: flex;
      margin: auto;
      margin-top: 10px;
      background-color: #113b2d9d;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10%;
      cursor: pointer;
      
    }
    .button-signup{
      width: 100px;
      /* justify-content:center;  */
      margin: auto;
      margin-top: 10px;
      cursor: pointer;
      font-size: 15px;
      background: #113b2d9d;
      border-radius: 10%;
      color: #fff;
      padding: 10px 10px;
    }
    
   
    
    